# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Backups folder
backups/
data/
solar_data/
validation_data/
temp/
database/


# Packaging
build/
dist/
*.egg-info/

# Local environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db